<!DOCTYPE html>
<html ng-app="telescope">
<head>
    <title>Boelter Smart Meter</title>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <script src="https://rawgithub.com/square/cubism/master/cubism.v1.min.js"></script>
    <link rel="shortcut icon" href="favicon.ico" />
    <link href="style.css" rel="stylesheet" />
    <script src="app.js"></script>
</head>
<body>
    <div class="row" ng-controller="meterController">
        <div class="col-md-3">
            <h1 style="margin: 10px;">
                <span style="color: green;">B</span>oelter
                <br />
                Smart
                <br />
                Meter
            </h1>
            <ul class="list-group" style="margin: 0 10px; overflow-x: hidden;">
                <li class="list-group-item" style="cursor:pointer" ng-repeat="meter in meters" ng-class="{'active': isActiveMeter(meter) }" ng-click="setActiveMeter(meter)">
                    <h4 class="list-group-item-heading">{{ meter.name }}</h4>
                    <p class="list-group-item-text">{{ meter.addr }}</p>
                </li>
            </ul>
            <p style="color: #777; font-size: small; margin: 10px;">
                Built by
                <i>Tai-Lin Chu</i>
                with Help of
                <i>Bo Peng, Mani Srivastava</i>
                and
                <i>Kevin Ting</i>
                .
            </p>
        </div>
        <div class="col-md-3">
            <h2>General Info</h2>
            <div ng-if="activeMeter == ''">
                <span style="color: #aaa; margin: 10px; font-weight: 600;">Pick a meter to begin!</span>
            </div>
            <table class="table table-hover">
                <tr ng-repeat="(key, value) in stats">
                  <td>{{ key }}</td>
                  <td>{{ value | number: 2 }} W</td>
                </tr>
            </table>
            <h2>Leaderboard</h2>
            <ul class="list-group">
              <li class="list-group-item"  ng-repeat="meter in meters | orderBy: 'Avg'">
                <span ng-if="$index == 0">
                    <img style="height: 20px;" src="gold.png"/>
                </span>
                <span ng-if="$index == 1">
                    <img style="height: 20px;" src="silver.png"/>
                </span>
                <span ng-if="$index == 2">
                    <img style="height: 20px;" src="bronze.png"/>
                </span>
                {{ meter.name }}
                <span class="label label-default pull-right"  ng-class="{'label-warning': isActiveMeter(meter) }">{{ meter.Avg | number: 2 }} W</span>
              </li>
            </ul>
        </div>
        <div class="col-md-6">
            <div id="chart"></div>
        </div>
    </div>
</body>
</html>
